{% load static %}
<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-3 fh5co-widget text-center">
                <h4>November</h4>
                <h4>Employee of the month : Sadie </h4>
                <img src="{% static 'images/hqe.jpg' %}" style="height: 150px; width: 150px;" alt="">

            </div>
            <div class="col-md-3 fh5co-widget text-center">
                    <h4>December</h4>
                    <h4>Employee of the month : Tyson </h4>
                <img src="{% static 'images/tyson.jpg' %}" style="height: 150px; width: 150px;" alt="">

            </div>
            <div class="col-md-3 fh5co-widget text-center">
                    <h4>January</h4>
                    <h4>Employee of the month : Sadie </h4>
                <img src="{% static 'images/sadie.jpg' %}" style="height: 150px; width: 150px;" alt="">

            </div>


            <div class="col-md-3 text-center">
                <h4>Contact Information</h4>
                <ul class="fh5co-footer-links">
                    <li>2719 W. Carmen, Chicago, Illinois </li>
                    <li>1816 Lake Avenue, Whiting, Indiana </li>
                    <li><a href="tel://17735178339">+ 1-773-517-8339</a></li>
                    <li><a href="mailto:dreamitviseth@gmail.com">dreamitviseth@gmail.com</a></li>

                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                    <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
                        Available at <a href="http://themewagon.com/" target="_blank">Themewagon</a> Demo Images: <a
                            href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                </p>
                <!-- <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p> -->
            </div>
        </div>
    </footer>
</div><!-- END container-wrap -->