{% load static %}
<nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
        <div class="top-menu">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="{% url 'index' %}">Viseth Sen</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        
                        <li><a href="{% url 'workIndex' %}">Work</a></li>
                        <li class="has-dropdown">
                            <a href="{% url 'blogIndex' %}">Blog</a>
                            <!-- <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul> -->
                        </li>

                        <li><a href="https://www.linkedin.com/in/viseth-sen/">Linked-In </a></li>
                          <li><a href="{% static 'viseth.pdf' %}">Resume</a></li>

                        <li><a href="{% url 'about' %}">About</a></li>
                        <!-- <li><a href="">Contact</a></li> -->
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>