{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url({% static 'images/img_bg_3.jpg' %});">
                   <div class="overlay-gradient"></div>
                   <div class="container-fluids">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
                               <div class="slider-text-inner text-center">
                                   <h1>About</h1>
                               </div>
                           </div>
                       </div>
                   </div>
               </li>		   	
              </ul>
          </div>
    </aside>		
    <div id="fh5co-about">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center heading-section">
                <!-- <h3>Our History</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
                <h3>Hi! I'm Viseth</h3>
                    <p>I am a Full-Stack Developer with experience in Wordpress, Django, Express and Flask.  This is built on Django using Postgres for DB to make the site dynamic vs my older portfolio which was primarily static.</p>

                    <h4>1/15-List of Todos</h4>

                    <li>Add Pagination to Blog</li>
                    <li>Add Most Recent Blog Entries to HomePage</li>
                    <li>Find new images, make responsive for mobile</li>
                    
                    <strike><li>1/10CSS/Formatting Blog and General Site</li></strike>
                    <strike><li>1/11Tweaking work index to go to work detail page as well Link to actual  Work-Site</li></strike>
                    <strike><li>1/12 - Works Page dynamic working on formatting for blogs and works details</li></strike>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1  animate-box">
                <p><img src="{% static 'images/portfolio-6.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
            </div>
            <div class="col-md-8 col-md-offset-2  animate-box">
                <div class="about-desc">

                    <h4 class='text-center'>Why Hire Me</h4>

                    <p> Along with my Development Skills, I bring with me an extensive IT Background as well as being <strong>Comptia Security+ Certified</strong>; Have experience working as help-desk support as well field-tech for installs.  I also bring with me a varied background; I am a Licensed Medical Nurse or <strong>LPN</strong> and a former Certified Mechanic with oustanding Sales/Customer Service experience and Professionalism</p>
                        
                    <p>I believe my experience and knowledge as an auto-motive mechanic has strongly contributed to my skills as a developer/engineer.  Tackling difficult jobs, reading schematics and manuals as well being able to diagnose and troubleshoot mechanical as well as electrical problems is a skill and craft I truly cherish.  I get irreplacable joy from working on cars the joy of taking things apart learning how it works, possibly innovating it and putting it back together is something I have done since I was a child before I even know what I was doing.  </p>

                    <p>My experience and journey as a Licensed Nurse has placed me in many panic-stricken conditions.  While many would be quick to point out the high stress nursing brings; I found it has strenghtened my resolve and instilled in me great patience as well as empathy and genuine care for people.  My Journey as a nurse taught me as long as I have a goal/dream, hard-work, dedication and discipline will bring me to it.</p>  

                    <p>Hobbies I enjoy include - House-Handyman/General Mechanic and cooking.  The two cars I work on the most these days are considered vintage by many : I have Service Manuals for both and enjoy the challenge and experience great joy doing all the work myself</p>

                    <ul>
                        <li>1991 - SW20 (Toyota MR2) I give the chassis # because in my experience real enthusiast call cars in this way</li>
                        
                        <li>2003 - E39 2.5l - A vehicle I purchased after hearing so many times throughout my life I would never have a car of this caliber.  Also that this vehicle was a nightmare to work on and it would be in the shop forever.  What a challenge…</li>
                    </ul>

                    <p>As for as cooking; I have 2 cast-iron pans, a Carbon-steel Pan and a proud owner of my very first 10" stainless steel skillet that I use extensively for steaks and fond sauce (ever hear of sous-vide) =)</p>
<!--                         
                        
                        
                        
                        Since I've had it I've had it I have…
                        The list goes on,
                        
                        What I got out of it was;
                        I can fix anything therefore I can drive anything so I can do anything.
                        I refuse to believe otherwise 
                        These 2 vehicles remind me of that
                        
                        My experience and journey as a Licensed Nurse taught me that as long as I have a goal/dream, hard-work, dedication and discipline will bring me to it.  I remember working odd-end jobs while going to school part-time.
                        
                        <p>Having to take chemistry twice, 
                            Having been out of school so long I could no longer pass college level math so I had to take math 99, twice and remember going in after class to tutor with my teacher who would always smile and encourage me while telling me my mind moves too fast I need to slow down, with a smile on her face.</p>
                        
                        <p>I remember buying multi-colored pens so I color categorize my notes when studying Anatomy;
                            The youtube playlist I would watch, the extra audio and videos I would listen to omw to and from work and class.  I remember not seeing any of my friends, not going to birthdays, I missed playing football and basketball with everyone I knew, </p>
                        
                        
                        Before I started Nursing
                        
                        I was 5'7 (with shoes) and I could consistently touch a 10ft rim
                        Through my own rough math,
                        Standing up right with my arms out I gave myself a rough reach of 7' to 7'6 (tip toes)
                        So to touch 10' I had to have a vertical of atleast 30" so roughly to 30"-36"
                        
                        By the time I became a nurse,
                        
                        I could barely jump and touch the net,
                        I couldn't even make layups anymore</p> -->
                    
                        <!-- <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- END container-wrap -->


{% endblock %}