{% extends 'base.html' %}
{% block title %} | Welcome {% endblock %}
{% block content %}


<div class="container-wrap">
    <div class="row">
        <!-- 
        Temporary way of showing the blog, will eliminate extra columns to find more elegant way 1/12/ - 10:54PM 
        Prettify date just added
        - Add box/border around blog
        - margin/padding at bottom 
        will prolly just move everything to bs 4 and create all new styles 1/22/1:44pm
        -->

        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center animate-box blog-detail" style='padding:4rem'>
            <img src="{{ blog.image.url }}" class='img-responsive center-block' alt="">
            <br>
            <h3>{{ blog.title }}</h3>
            <p>{{ blog.body }}</p>
            <p>{{ blog.pub_date_pretty }}</p>

        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock %}