{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome to Blogs {% endblock %}
{% block content %}

<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({% static 'images/img_bg_3.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
				   				<div class="slider-text-inner text-center">
				   					<h1>Blog</h1>
										<h2>Free html5 templates Available at <a href="http://themewagon.com/" target="_blank">Themewagon</a></h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-blog">
			<div class="row">
                
                {% for blog in blogs.all %}
                <div class="col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-bg" style="background-image: url({{ blog.image.url }}); background-size: contain;"></a>
                        <div class="blog-text">
                            <span class="posted_on">{{ blog.pub_date_pretty }}</span>
                            <h3><a href="#">{{ blog.title }}</a></h3>
                            <p>{{ blog.summary }}...</p>  
                            <ul class="stuff">
                                <li><i class="icon-heart3"></i>249</li>
                                <li><i class="icon-eye2"></i>1,308</li>
								<li><a href="{% url 'blogDetail' blog.id %}">Read More<i class="icon-arrow-right22"></i></a></li>
								<!-- <a href="" class="btn btn-primary btn-block">More Info</a> -->
                            </ul>
                        </div> 
                    </div>
                </div>
                {% endfor %}

			</div>
		</div>
	</div><!-- END container-wrap -->

{% endblock %}


