{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome to Work Details {% endblock %}
{% block content %}

<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
                    <li style="background-image: url({% static 'images/img_bg_3.jpg' %});">
			   		<div class="overlay-gradient"></div>
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
			   				<div class="slider-text-inner text-center">
			   					<h1>Work</h1>
			   				</div>
			   			</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-work">
			<div class="row">
				<div class="col-md-8">
                    <a href=" {{ work.image.url }} " class="image-popup img-portfolio-detail">
                        <img src=" {{ work.image.url }} " alt="Free HTML5 Template by FreeHTML5.co" class="img-responsive">
                    </a>
                    <!-- Make this a if statement IF they're are more pictures; who likes the pun :))-->
					<!-- <a href="images/portfolio-2.jpg" class="image-popup img-portfolio-detail">
						<img src="" alt="Free HTML5 Template by FreeHTML5.co" class="img-responsive">
					</a>		 -->
				</div>
				<div class="col-md-4 fh5co-project-detail">
					<h2 class="fh5co-project-title">{{ work.summary }}</h2>
					<span class="fh5co-project-sub">Package of the year/sub info/ necessary ?</span>
					<p>

                        Will enter Dynamic Information Here

                    </p>

					<div class="fh5co-project-service">
						<h3>Technology Highlights</h3>
						<ul>
							<li>Python</li>
							<li>Django</li>
                            <!-- <li>Maybe put web address here</li>
                            <li>Look for new background image/jumbotron image</li> -->
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div><!-- END container-wrap -->

{% endblock %}


