{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome to Work Details {% endblock %}
{% block content %}

<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
                    <li style="background-image: url({% static 'images/img_bg_3.jpg' %});">
			   		<div class="overlay-gradient"></div>
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
			   				<div class="slider-text-inner text-center">
			   					<h1>Work</h1>
			   				</div>
			   			</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-work">
			<div class="row">
				<div class="col-md-8">
                    <a href=" {{ work.image.url }} " class="image-popup img-portfolio-detail">
                        <img src=" {{ work.image.url }} " alt="Portfolio/Work Image" class="img-responsive">
                    </a>
                    
					{% if work.image_1%}
					<a href=" {{ work.image_1.url }} " class="_-popup img-portfolio-detail">
                        <img src=" {{ work.image_1.url }} " alt="Portfolio/Work Image" class="img-responsive">
                    </a>	
					{% endif %}
					{% if work.image_2%}
					<a href=" {{ work.image_2.url }} " class="image-popup img-portfolio-detail">
                        <img src=" {{ work.image_2.url }} " alt="Portfolio/Work Image" class="img-responsive">
                    </a>	
					{% endif %}
					{% if work.image_3%}
					<a href=" {{ work.image_3.url }} " class="image-popup img-portfolio-detail">
                        <img src=" {{ work.image_3.url }} " alt="Portfolio/Work Image" class="img-responsive">
                    </a>	
					{% endif %}
				</div>
				<div class="col-md-4 fh5co-project-detail">
					<h2 class="fh5co-project-title">{{ work.title }}</h2>
					<!-- <span class="fh5co-project-sub">Package of the year/sub info/ necessary ?</span> -->
					<p>

                        {{ work.description}}

                    </p>

					<div class="fh5co-project-service">
						<h3>Technology Highlights</h3>
						<ul>
							<li>{{ work.highlights_1 }}</li>
							<li>{{ work.highlights_2 }}</li>
							{% if work.highlights_3 %}
							<li>{{ work.highlights_3 }}</li>
							{% endif %}
							{% if work.highlights_4 %}
							<li>{{ work.highlights_4 }}</li>
							{% endif %}
							{% if work.highlights_5 %}
							<li>{{ work.highlights_5 }}</li>
							{% endif %}
							{% if work.highlights_6 %}
							<li>{{ work.highlights_6 }}</li>
							{% endif %}
							{% if work.highlights_7 %}
							<li>{{ work.highlights_7 }}</li>
							{% endif %}

							<li><a target="_blank" href="http://{{ work.address}}"><button class="btn btn-success">Go To Site</button></a> </li>
							

							<!-- <li>Maybe put web address here</li>
								add more ifs for work highlights and images and addresses
							<li>Look for new background image/jumbotron image</li>
						check images make sure theyre loading,
						https://stackoverflow.com/questions/6553284/absolute-url-in-django-template - genius to fix the http work.address for link :)
						-->
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div><!-- END container-wrap -->

{% endblock %}


